<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
{% for zadacha in data %}
<div {% if zadacha[3] %} class="done" {% else %} class="not-done" {% endif %}>
<p>{{zadacha[0]}}</p>
<p>Поставлена: {{zadacha[1]}}</p>
{% if zadacha[3] %}
<p>Сделано: {{zadacha[2]}}</p>
{% endif %}
<form method="post" action="/delete_zadacha/{{zadacha[4]}}">
    <button type="submit">Удалить</button>
</form>
{% if not zadacha[3] %}
<form method="post" action="/set_done/{{zadacha[4]}}">
    <button type="submit">Пометить сделанной</button>
</form>
{% endif %}
</div>
{% endfor %}
    <form method="post" action="/add_zadacha">
        <input placeholder="Vasha Zadacha" name="zadacha">
        <button type="submit">Otpravit</button>
    </form>
</body>
</html>